.player-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-profile-info > * {
  padding: 0;
  margin: 0.3rem 0;
  font-size: 0.8rem;
}
