.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination > * {
  margin: 0 5px;
}

.pagination__text {
  min-width: fit-content;
  padding: 2.5px 5px;
}
